html{
    font-family:
    Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 820px;
    height:1080px;
    /*margin: 0 auto;*/
}

.accordion_icon {
    color: #000;
    background: url("assets/plus.png") no-repeat right;
    background-size: 1em;
    margin:15px;
}

.accordion_img>img{
    display: inline-block;
    align-self: center;
    max-width: 100%;
    height: auto;
    width: 200px;
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}
.accordion_input:checked~.accordion_label>.accordion_img>img{
    display: block;
    visibility: visible;
    opacity:1;
}


.accordion_label:focus .accordion_img{

}

.accordion_box{
    /*position:relative;*/
 /*margin-bottom:20px;*/
}
.accordion_label{
    display:block;
    background-color: #ff23;
    border-bottom: 1px solid #000;
    /*font-family: FontAwesome;*/
}
.accordion_input{
    position:absolute;
    top:0;
    left:0;
    opacity:0;
}

.accordion_content{
    overflow: hidden;
   /* padding:20 px;*/
    /*border: 1px solid #423f3f;*/
    box-sizing: border-box;
    border-top:none;
    display:none;

}
.accordion_icon{
    
}
.container:hover .accordion_label{


}
.accordion_label:hover,.accordion_input:hover,.accordion_content:hover{
    cursor: pointer;
    text-decoration: solid;
}
.accordion_box:active .accordion_label{
    color:#e6f1f1;
    opacity: 0.8;
    transition: 0.08s;
}
.accordion_input:checked~.accordion_label{
    background-color: aqua;
    transition: color 0.5s;
}
.accordion_input:checked ~ .accordion_content{
    display: block;
    /*background-color: aqua;*/
}