html{
    font-family:
    Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4e4e4;
}
/* Mobile */
@media only screen and (max-width: 30rem) {
    .container {
        width: 17.5rem;
        font-size: 1em;
    }
    .accordion_img {
        width: 12.5rem;
    }
}
  /* Tablet */
  @media only screen and (min-width: 30.0625rem) and (max-width: 64rem) {
    .container {
        width: 28.125rem;
        font-size: 1.25em;
    }
    .accordion_img {
        width: 24.375rem;
    }
  }
  /* Desktop */
  @media only screen and (min-width: 64.0625rem) {
    .accordion_input:hover~.accordion_label>.accordion_img>img{
        display: block;
        width: 100%;
        align-self: center;
        opacity:1;
        transition: opacity 0.3s ease;
    }
    .accordion_input:hover~.accordion_label>.accordion_icon>img{
        visibility: visible;
        -moz-transform: rotate(45deg); /* Для Firefox */
        -ms-transform: rotate(45deg); /* Для IE */
        -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
        -o-transform: rotate(45deg); /* Для Opera */
        transform: rotate(45deg);
        transition: transform .5s;
    }
    .accordion_input:active.accordion_label{
        opacity: 0.6;
        color:aqua;
    }
    .container:hover{color:aqua;}
    .accordion_input:checked+.accordion_label{
        color:black;
    }
    .accordion_label:hover,.accordion_input:hover,.accordion_content:hover{
        cursor: pointer;
        text-decoration: solid;
    }
  }


.container{
    width: 51.25rem;
    height:67.5rem;
    /*margin: 0 auto;*/
}

.accordion_icon>img{

   float: right;
   width: 1em;
   margin:.9375rem;
   visibility: hidden;
}
.accordion_img{
}
.accordion_img>img{
    display: block;
    margin: .9375rem auto;
    max-width: 50%;
    height: auto;
    width: 0px;
    opacity: 0;

}
.accordion_input:checked~.accordion_label>.accordion_img>img{
    display: block;
    width: 100%;
    align-self: center;
    opacity:1;
    transition: opacity 0.3s ease;
}

.accordion_input:checked~.accordion_label>.accordion_icon>img{
    visibility: visible;
    -moz-transform: rotate(45deg); /* Для Firefox */
    -ms-transform: rotate(45deg); /* Для IE */
    -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(45deg); /* Для Opera */
    transform: rotate(45deg);
    transition: transform .5s;
}
.accordion_label:focus .accordion_img{

}

.accordion_box{
}
.accordion_label{
    display:block;
    background-color: #e4e4e4;
    border-top: 1px solid #2e2c2c2a;
}
.accordion_input{
    position:absolute;
    opacity:0;
}

.container:hover .accordion_label{


}


.accordion_box:active .accordion_label{
    cursor: grab;
    color:#e6f1f1;
    opacity: 0.8;
    transition: 0.08s;
}
